@use "../custom" as *;


.testimonials{
    // border: solid 2px red;
    margin-top: 3rem;
    padding: 3rem;
    background-color: whitesmoke;
}

.imgcar{
    border-radius: 50%;
    width: 100px;
}